.content-meta {
  margin: 0;
  color: var(--darkgray);

  &[show-comma="true"] {
    > *:not(:last-child) {
      margin-right: 8px;

      &::after {
        content: ",";
      }
    }
  }

  &.source {
    margin-top: 0.2rem;
  }

  .source-link {
    color: var(--secondary);
    text-decoration: none;
    word-break: break-all;
    &:hover {
      text-decoration: underline;
    }
  }
}
